<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>be.sciensano.coronalertbe</key>
	<string>MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEqG73R7F3UpqPAzGYTEJxPKC3EnxxfSIX8EbUe/XAcTWLzj4cZ4XOBFrDav7FhSC3NBXkAt1oK5ZI1eRUL8Vv8w==</string>
</dict>
</plist>
