<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>be.sciensano.coronalertbe</key>
	<string>MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAE6Zc38h54qMf06MDBPi9G/mhEl2KQu3hxBiJOX2+YsKTYKm58bvnF/tmM6znTh1XaIrhuVP229eRhawrMCU/Jcg==</string>
</dict>
</plist>
